<form action="/books/show">
  <label for="book_genre"> Genre:
    <input type="text" name="genre" id="book_genre">
   <label for="book_genre"> Price(custom minim/maxim):

    <select name="price_precision" id="book_price">
    <option value="min">Minimum</option>
    <option value="max">Maximum</option>
  </select>
   <input type="text" name="value" id="book_price" value="0">

  <button type="submit">Create</button>

