// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://wallpaperaccess.com/full/253338.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }
   .card-img-top{
    height:250px;
    width:100%;
 }


.card-deck{
    margin-bottom: 15px;
}
.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
    grid-gap: .6rem;
}